$parent: filters-checkbox;

@include block ($parent) {
  display: flex;
  align-items: center;

  @media (min-width: $md) {
    right: rem(10);
    margin-left: auto;
    margin-right: 0;

    &.filters-item {
      // position: absolute;
      // top: 50%;
      // transform: translateY(-50%);
    }
  }

  @media (min-width: $lg) {
    right: rem(20);
  }

  @include element ($parent, 'title') {
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(18);
    letter-spacing: -0.3px;

    @media (min-width: $md) {
      margin-right: rem(10);
      padding: 0;
      border: none;
      pointer-events: none;
    }
  }

  @include element ($parent, 'switch') {
    position: relative;
    display: none;
    width: rem(50);
    height: rem(30);
    border: 1px solid $gray-laght-btn-cancel;
    border-radius: 15px;
    background-color: $white;
    cursor: pointer;
    transition: border-color 0.2s 0.2s;

    @media (min-width: $md) {
      display: block;
    }

    @include modifier ($parent, 'active') {
      background-color: $marsh;

      @include element ($parent, 'item') {
        left: calc(100% - 30px);
      }
    }
  }

  @include element ($parent, 'item') {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: rem(30);
    height: rem(30);
    border: 1px solid $gray-laght-btn-cancel;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba($black, 0.1);
    transition: left 0.2s;
  }
}
