$parent: form-button;

@include block($parent) {
  width: 100%;

  @include modifier ($parent, 'cancel') {
    @include element($parent, 'button') {
      background-color: $white;
      border: 1px solid $gray-laght-btn-cancel;
      color: $dark;

      &:hover {
        background-color: $gray-laght-btn-cancel;
      }

      &:disabled {
        color: transparentize($dark, 0.5);
        background-color: $white;
      }
    }
  }

  @include element($parent, 'button') {
    width: 100%;
    height: rem(50);
    box-sizing: border-box;
    text-align: center;
    background-color: $marsh;
    color: $white;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $marsh * 0.9;
    }

    &:disabled {
      background-color: transparentize($marsh, 0.5);
    }
  }

  @include element($parent, 'button') {
    color: $white;
    font-family: $montserrat;
    font-size: rem(14);
    font-weight: 500;
    line-height: rem(18);
  }

  @include element ($parent, 'button-icon') {
    display: inline-block;
    margin-right: rem(12);
    vertical-align: middle;
  }
}
