extends ../layouts/main.pug
include ../blocks/dev/faq/dev-faq.pug

block content
  -
    var dataFAQ = {
      reference_box: 'Если у вас остались вопросы вы можете их задать в нашем чате, для этого вам нужно <a href=\'#\' class=\'dev-faq__link\'>войти</a> или <a href=\'#\' class=\'dev-faq__link\'>зарегистрироваться</a>.',
      faqArr: [
        {
          question: 'Как работает фильтр по локациям?',
          answer: 'Ответ 1',
          visible_answer: false
        },
        {
          question: 'Как забронировать локацию?',
          answer: 'Ответ 2',
          visible_answer: false
        },
        {
          question: 'Как я могу оплатить бронирование?',
          answer: 'Ответ 3',
          visible_answer: false
        },
        {
          question: 'Могу ли я оплатить локацию за наличные?',
          answer: 'Ответ 4',
          visible_answer: false
        },
        {
          question: 'Случайно закрыл страницу с оплатой, как вернуться?',
          answer: 'Ответ 5',
          visible_answer: false
        },
        {
          question: 'Как я могу поставить еще одну бронь?',
          answer: 'У нас установлено ограничение на одну неоплаченную бронь. Это означает, что перед тем как сделать новое бронирование, вам необходимо оплатить или отменить предыдущее бронирование. Вы можете это сделать из личного кабинета. Временный пароль для входа в личный кабинет находится по адресу вашей электронной почты в письме, подтверждающем вашу регистрацию.',
          visible_answer: true
        },
        {
          question: 'Как мне изменить время бронирования?',
          answer: 'Ответ 7',
          visible_answer: false
        },
        {
          question: 'Как мне вернуть деньги в случае отмены бронирования?',
          answer: 'Ответ 8',
          visible_answer: false
        },
        {
          question: 'Отличаются ли цены на Ugoloc. ru от цен поставщика услуг и почему выгодней бронировать у нас?',
          answer: 'Ответ 9',
          visible_answer: false
        },
        {
          question: 'Могу ли я забронировать локацию для видеосъемки или мероприятия?',
          answer: 'Ответ 10',
          visible_answer: false
        },
        {
          question: 'Почему я не вижу календарь и выбор способа оплаты на странице бронирования?',
          answer: 'Ответ 11',
          visible_answer: false
        }
      ]
    }
    
  +dev-faq(dataFAQ)
