extends ../layouts/login.pug
include ../blocks/restore-password/restore-password.pug

block content
  +restore-password({
    inputs: [{
      label: 'Новый пароль',
      type: 'password',
      error: 'от 6 знаков, 1 цифра и 1 заглавная буква минимум',
      inputAtr: {
        name: 'newPassword',
        placeholder: 'Эл. почта',
        value: 'a'
      },
      inputClass: 'form-input--check-ok form-input--check-fail'
    }, {
      type: 'password',
      inputAtr: {
        name: 'newPasswordConfirm',
        value: ''
      },
      inputClass: 'form-input--check-ok'
    }],
    buttonAtr: {
      type: 'button',
      disabled: 'disabled'
    }
  })
