extends ../layouts/main.pug
include ../blocks/order/order-list/order-list.pug

block content
  -
    var orders = {
      title: 'Мои брони',
      order: [
        {
          is_open: true,
          title: 'Kap\'s Studios м. Бауманская • Зал №12',
          img: require('../assets/images/studio/studio-2.jpg'),
          alt: 'Kap\'s Studios',
          fullPrice: '3000₽',
          hours: '2 ч.',
          date: '3 сентября 2018',
          paid_status: true,
          paid: '1500 р.',
          sale: '50%',
          mapContact: {
            location: 'м. Бауманская • Старокирочный переулок, 2',
            lat: 37.681864,
            lon: 55.768782,
            phone: '+7 495 987 12 22',
            route: 'Выйдя из метро идите вдоль торговых рядов вдоль и железной дороги. Перейдя железнодорожные пути пройдите через шлагбаум на территорию бывшего завода Станколит. На территории будет стоять отдельно стоящее здание рядом с Автомойкой на фасаде которого большими цифрами написано 38. Это то, что нужно Вам Вход №1.',
            route_auto: 'Проезжая мимо метро, торговых рядов вдоль и железной дороги. Перейдя железнодорожные пути пройдите через шлагбаум на территорию бывшего завода Станколит. На территории будет стоять отдельно стоящее здание рядом с Автомойкой на фасаде которого большими цифрами написано 38. Это то, что нужно Вам Вход №1.',
          },
          price: 3000,
          payment_check: [
            {
              title: 'Заказ №12362018',
              payment_check: [
                {
                  title: 'Локация',
                  description: 'Зал №12'
                },
                {
                  title: 'Кол-во. чел.',
                  description: 2
                },
                {
                  title: 'Дата',
                  description: '12 окт. 2018'
                },
                {
                  title: 'Время',
                  description: '2 ч. 10:00 - 12:00'
                },
                {
                  title: 'Цель',
                  description: 'Фотосъемка'
                }
              ]
            },
            {
              title: 'Стоимость',
              payment_check: [
                {
                  title: '2 ч. x 1500 р.',
                  description: 3000
                },
                {
                  title: 'Промо код',
                  description: '-'
                },
                {
                  title: 'Предоплата 50%, р.',
                  description: 1500
                }
              ]
            }
          ]
        },
        {
          is_open: false,
          title: 'Kap\'s Studios м. Бауманская • Зал №12',
          img: require('../assets/images/studio/studio-2.jpg'),
          alt: 'Kap\'s Studios',
          fullPrice: '3000₽',
          hours: '2 ч.',
          date: '18 сентября 2018',
          paid_status: false,
          paid: 'Ожидает оплаты',
          mapContact: {
            location: 'м. Бауманская • Старокирочный переулок, 2',
            lat: 37.681864,
            lon: 55.768782,
            phone: '+7 495 987 12 22',
            routeSingle: true,
            route: 'Выйдя из метро идите вдоль торговых рядов вдоль и железной дороги. Перейдя железнодорожные пути пройдите через шлагбаум на территорию бывшего завода Станколит. На территории будет стоять отдельно стоящее здание рядом с Автомойкой на фасаде которого большими цифрами написано 38. Это то, что нужно Вам Вход №1.',
          },
          price: 3230,
          payment_check: [
            {
              title: 'Заказ №12362018',
              payment_check: [
                {
                  title: 'Локация',
                  description: 'Зал №12'
                },
                {
                  title: 'Кол-во. чел.',
                  description: 2
                },
                {
                  title: 'Дата',
                  description: '12 окт. 2018'
                },
                {
                  title: 'Время',
                  description: '2 ч. 10:00 - 12:00'
                },
                {
                  title: 'Цель',
                  description: 'Фотосъемка'
                }
              ]
            },
            {
              title: 'Стоимость',
              payment_check: [
                {
                  title: '2 ч. x 1500 р.',
                  description: 3000
                },
                {
                  title: 'Промо код',
                  description: '-'
                },
                {
                  title: 'Предоплата 50%, р.',
                  description: 1500
                }
              ]
            }
          ]
        }
      ],
    }

  +order-list(orders)
