extends ../layouts/login.pug
include ../blocks/restore-password/restore-password.pug

block content
  +restore-password({
    inputs: [{
      label: 'Эл. почта',
      type: 'text',
      checkOk: true,
      inputAtr: {
        name: 'eMail',
        placeholder: 'Эл. почта',
        value: 'andre@revin.ru'
      },
      inputClass: 'form-input--check-ok'
    }],
    buttonAtr: {
      type: 'button'
    }
  })
