extends ../layouts/login.pug
include ../blocks/restore-password/restore-password.pug

block content
  +restore-password({
    description: 'Проверьте почту. Мы оправили вам письмо с инструкциями по восстановлению пароля.'
  })
