extends ../layouts/main.pug
include ../blocks/reviews/reviews.pug

block content
  -
    var reviews = {
      title: 'Отзывы',
      reviewsArr: [
        {
          title: 'Kap\'s Studios м. Бауманская',
          date: '21 апреля 2017',
          text: 'Постоянно меняющийся интерьер с интересными деталями, различными фонами и большим количеством света. Отзывчивые и позитивные владельцы готовые оказать необходимую помощь, начиная от бодрого настроя, отличного кофе, настроек света, заканчивая поиском реквизита.',
          like: 3,
          dislike: 1
        },
        {
          title: 'Prostranstvo',
          date: '21 мая 2017',
          text: 'Отзывчивые и позитивные владельцы — это супер.',
          like: 26,
          dislike: 0
        },
        {
          title: 'Kap\'s Studios м. Бауманская',
          date: '21 апреля 2017',
          text: 'Постоянно меняющийся интерьер с интересными деталями, различными фонами и большим количеством света. Отзывчивые и позитивные владельцы готовые оказать необходимую помощь, начиная от бодрого настроя, отличного кофе, настроек света, заканчивая поиском реквизита.Постоянно меняющийся интерьер с интересными деталями, различными фонами и большим количеством света. Отзывчивые и позитивные владельцы готовые оказать необходимую помощь, начиная от бодрого настроя, отличного кофе, настроек света, заканчивая поиском реквизита.Постоянно меняющийся интерьер с интересными деталями, различными фонами и большим количеством света. Отзывчивые и позитивные владельцы готовые оказать необходимую помощь, начиная от бодрого настроя, отличного кофе, настроек света, заканчивая поиском реквизита.',
          like: 3,
          dislike: 1
        }
      ]
    }

  +reviews(reviews)
