extends ../layouts/main.pug
include ../blocks/leftMenu/leftMenu.pug
include ../blocks/wysiwyg/wysiwyg.pug

block content
  -
    var dataLeftMenu = {
      titleSelect: 'Основные понятия',
      title: 'Основные понятия',
      titleId: '#main_terms',
      menu: [
        {
          title: 'Общие положения',
          url: '#general_provisions',
          is_select: false,
        },
        {
          title: 'Регистрация на сайте',
          url: '#contract_clause',
          is_select: true,
        },
        {
          title: 'Оформление заказа',
          url: '#guarantees',
          is_select: false,
        },
        {
          title: 'Оплата заказа. Сервисный сбор',
          url: '#contract_time',
          is_select: false,
        },
        {
          title: 'Аннулирование, изменение, отмена заказа',
          url: '#termination_of_an_agreement',
          is_select: false,
        },
        {
          title: 'Гарантии и ответственность сторон',
          url: '#intellectual_property',
          is_select: false,
        },
        {
          title: 'Интеллектуальная собственность',
          url: '#privacy',
          is_select: false,
        },
        {
          title: 'Конфиденциальность и защита персональных данных',
          url: '#other_conditions',
          is_select: false,
        },
        {
          title: 'Прочие условия',
          url: '#other_conditions',
          is_select: false,
        },
      ],
    };
  .terms
    .terms__container
      .terms__menu
        +leftMenu(dataLeftMenu)
      .terms__content
        +wysiwyg()
          h1 Договор публичной оферты для заказов с оплатой на веб-сайте ugoloc.ru на бронирование помещений для съемок
          h3(id='main_terms') Основные понятия
          p
            b Исполнитель
            |  - Общество с ограниченной ответственностью «Менеджер локаций».
          p
            b Заказчик
            |  - дееспособное физическое лицо, достигшее 18 лет, имеющее законное право вступать в договорные отношения с Исполнителем, в том числе размещать заказ или бронировать услуги на сайте <a href='#'>https://www.ugoloc.ru/</a>.
          p
            b Сайт
            |  - информационный ресурс Исполнителя в интернете, расположенный по адресу <a href='#'>https://www.ugoloc.ru</a>, через который осуществляется непосредственный заказ услуг.
          p
            b Заказ
            |  - должным образом оформленный запрос Заказчика на получение услуг по бронированию фотостудии или иной локации для съемки, а также дополнительных услуг выбранных на Сайте.
          p 
            b Система бронирования
            |  - информационная система, содержащая информацию, касающуюся наличия свободных часов в фотостудиях или иных съемочных локациях, а также дополнительных услуг, тарифов и правил их применения, в том числе условий предоставления предлагаемых услуг. Информация в Системе бронирования размещается на Сайте в полном соответствии с тем, как она представлена в системах бронирования непосредственными поставщиками данных услуг или их полномочными представителями. Информация в системе бронирования может в любой момент быть изменена или дополнена, в связи с этим Заказчику предлагается использовать систему бронирования в режиме «как есть».
          p
            b Письмо с подтверждением
            |  - документ, который отправляется Исполнителем на электронную почту Заказчику, подтверждающий право Заказчика на аренду фотостудии или иной съемочной локации, на условиях, выбранных Заказчиком, согласно оформленному и оплаченному Заказу.
          p
            b Оператор
            |  - сотрудник Исполнителя, обрабатывающий Заказы, требующие индивидуальной обработки (для обращения необходимо писать на электронный адрес <a href='#'>support@ugoloc.ru</a>, с использованием формы обратной связи, указанной на сайте).
          p
            b Поставщик услуг
            |  - лицо, непосредственно оказывающее услуги по предоставлению фотостудии или иной локации для съемки.
          h3(id='general_provisions') Статья 1. Общие положения
          p 1.1 Заказывая услуги через Исполнителя, Заказчик соглашается с условиями Договора публичной оферты (далее — Договор), изложенными ниже. Исполнитель оказывает Заказчику услуги по предоставлению содержащейся в Системе бронирования информации и бронированию услуг третьих лиц (Фотостудий или иной съемочной локации), в соответствии с заданными Заказчиком параметрами (дата, время, длительность бронирования, тип помещения и иные параметры услуг), а также по оформлению отказа от забронированных и оплаченных услуг по соответствующему заявлению Заказчика.
          p 1.2 Настоящий Договор, а также приложения, относящиеся к нему, представленные на Сайте, являются публичной офертой в соответствии со ст. 435 и п. 2 ст. 437 ГК РФ. В соответствии с пунктом 3 статьи 438 ГК РФ, принятие содержащихся в настоящей оферте существенных условий, трактуемое в соответствии с пунктом 1 статьи 438 ГК РФ не иначе как акцепт, равносильно заключению договора на оказание услуг по бронированию Локаций. Полным и безоговорочным принятием (акцептом) условий настоящей оферты считается проставление специальной отметки (галочки) в соответствующем поле при оформлении Заказа, а также осуществление Пользователем платежа в счет оплаты услуг по бронированию.
          p 1.3. Пользователь соглашается с Договором путем проставления отметки в виде «галочки» в графе «Я принимаю условия Договора публичной оферты» на последнем этапе оформления Заказа на Сайте. Соглашаясь с условиями настоящего Договора, Пользователь подтверждает свое право- и дееспособность, финансовую состоятельность, а также сознаёт ответственность за обязательства, возложенные на него в результате заключения настоящего Договора. Пользователь подтверждает достоверность своих личных данных, а также данных лиц, указанных в Заказе и принимает на себя всю ответственность за их точность, полноту и достоверность. <br>Пользователь принимает на себя все возможные коммерческие риски (оформление нового заказа, изменение тарифа, возврат денег и проч.), связанные с его действиями по допущению ошибок, неточностей в предоставлении запрашиваемых Оператором при оформлении Заказа, данных.
          p 1.4. К отношениям между Пользователем и Оператором применяются положения действующего законодательства Российской Федерации. <br> Забронированные Пользователем услуги третьих лиц на предоставление Локаций регулируются правилами соответствующего Поставщика услуг и правилами применяемого тарифа.
          h3(id='contract_clause') Статья 2. Условия и порядок исполнения договора.
          p
            b 2.1. Регистрация на сайте:
            |  <br> 2.1.1. При оформлении заказа Пользователь автоматически регистрируется на сайте. <br> Пользователь также вправе зарегистрироваться на сайте, путем заполнения регистрационной анкеты и введения своих контактных данных. Регистрация производится на электронный адрес, указанный Пользователем в соответствующем поле, который в дальнейшем будет использован в качестве логина к личному кабинету Пользователя на Сайте. При этом на указанный Пользователем электронный адрес направляется пароль к личному кабинету на Сайте.
          p 2.1.2. Пользователь обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации. В случае возникновения у Пользователя подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, Пользователь обязуется незамедлительно уведомить об этом Оператора, направив электронное письмо по адресу support@ugoloc.ru, либо через форму обратной связи, указанную на сайте.
          p 2.1.3. Весь обмен информацией между Сторонами относительно Заказа и выполнения прочих своих обязательств по настоящему Договору осуществляется через электронную почту, адрес которой указан Пользователем при регистрации, а также личный кабинет, который формируется после регистрации на сайте. В связи с этим, Пользователь обязуется регулярно, вплоть до момента начала бронирования арендованной Локации, самостоятельно отслеживать состояние своего Заказа, в том числе проверять свою электронную почту или личный кабинет на предмет получения информации о возможных изменениях, а при необходимости обращаться за информацией к Оператору через форму обратной связи, размещенную на Сайте. <br> Ответственность за любые последствия, возникающие в связи с отсутствием у Пользователя информации об изменениях в Заказе, произошедших по независящим от Оператора причинам (отмена брони Локации, задержка банком Пользователя оплаты Заказа, изменение тарифов и т.д.), несет Пользователь, при условии соблюдения Оператором порядка уведомления Пользователя о любых изменениях в Заказе.
          p
            b 2.2. Оформление заказа: <br>
            |  2.2.1. Заказ на бронирование Локаций оформляется Пользователем самостоятельно на Сайте. При этом Пользователь самостоятельно определяет дату бронирования, время начала, длительность, зал и прочие условия предоставляемых услуг. Подробности оформления Заказа описаны в разделе <a href='#'>«Как забронировать локацию»</a>, являющемся неотъемлемой частью настоящего Договора.
          p 2.2.2. Пользователь знакомится со всеми условиями Заказа в процессе бронирования. В случае если Пользователю не понятны какие-либо условия Заказа, в том числе условия отказа от услуг, внесение любых изменений, в оформленный Заказ, Пользователь должен уточнить необходимую ему информацию у Оператора.
          p 2.2.3. При оформлении Заказа Пользователь должен заполнить все поля, указанные в Системе бронирования как «обязательные» для заполнения.
          p 2.2.4. Заказы, оформленные Пользователем на Сайте, носят окончательный характер и подлежат автоматизированной обработке в системе обработки данных Оператора. После поступления от Пользователя в систему обработки данных Оператора оформленного Заказа, Пользователю автоматически направляется на электронный адрес, указанный при регистрации, Сервисное письмо со статусом Заказа.
          p
            b
              i После совершения Пользователем оплаты Заказа, электронное письмо с подтверждением бронирования соответствующей Локации автоматически формируется в Системе Оператора. Оформленное одним из указанных способов письмо с подтверждением размещается в личном кабинете Пользователя на Сайте, а также направляется на электронный адрес, указанный Пользователем при регистрации.
          p 2.2.5. Заказы на бронирование времени в Локациях на территории Российской федерации не требуют дополнительного подтверждения со стороны Поставщика услуг. <br> Письмо, отправленное на электронную почту, является документом, подтверждающим право предоставление помещения на условиях, выбранных Пользователем. Для доступа в заказанное помещение могут потребоваться оформление дополнительных документов и заявок на пропуск, о чем будет указано на странице Поставщика услуг на сайте ugoloc.ru. Оператор не гарантирует допуск Пользователя в арендуемом помещение при нарушении правил доступа Поставщика услуг.
          p 2.2.6. Все условия Заказа, в том числе внесение любых изменений в оформленные Заказы, отказ от забронированных услуг, равно как и другие условия предоставляемых услуг регламентируются правилами соответствующей Локации, действующим законодательством РФ, применимыми международными нормами.
          p 2.2.7. Время начала и окончания бронирования выбирается пользователем при бронировании.<br> Время начала бронирования в большинстве Локаций начинается с момента указанного при бронировании и заканчивается в момент фактического освобождения арендуемого помещения, однако данное правило может быть изменено по согласованию с представителем Поставщика услуг. 
          p 2.2.8. При неприбытии Пользователя в арендуемое помещение в течение часа после указанного в Заказе время бронирования и позднее без предварительного о том уведомлении, Поставщик услуг  оставляет за собой право аннулировать бронь, выставив штрафные санкции в соответствии с правилами Поставщика услуг. Размер штрафных санкций, подлежащих применению к Пользователью при наступлении подобного случая, указывается в правилах аренды помещения Поставщика услуг.
          p
            b 2.3. Оплата заказа:<br>
            |  2.3.1. Стоимость Заказа указывается на Сайте в режиме онлайн и может быть изменена соответствующим Поставщиком услуг в одностороннем порядке.
          p 2.3.1. Стоимость Заказа указывается на Сайте в режиме онлайн и может быть изменена соответствующим Поставщиком услуг в одностороннем порядке.
          p 2.3.1. Стоимость Заказа указывается на Сайте в режиме онлайн и может быть изменена соответствующим Поставщиком услуг в одностороннем порядке.
          p 2.3.2. Пользователь оплачивает сформированный Заказ способами, предусмотренными в статье <a href='#'>«Как оплатить бронирование локации»</a>, являющейся неотъемлемой частью настоящей Оферты.
          p 2.3.3. Срок оплаты Заказа (time-limit) указывается на Сайте при оформлении Заказа, а также в направляемом Оператором Пользователю сервисном письме со статусом Заказа. В случае неполучения Оператором от Пользователя в указанный срок оплаты Заказа, оформленный Заказ автоматически аннулируется.
          p 2.3.4. Производя оплату, Пользователь подтверждает, что он ознакомлен и согласен с правилами и тарифами соответствующего Поставщика услуг, который предоставляет выбранную Локацию.
          p
            b 2.4. Аннулирование, изменение, отмена заказа<br>
            |  2.4.1. Все условия Заказа, в том числе: внесение любых изменений в оформленные Заказы, отказ от услуг, равно как и другие условия оказания услуг регламентируются правилами применения тарифа на данную услугу, установленными соответствующей Локацией, договором публичной оферты Оператора.<br>Пользователь обязуется производить любые изменения подтверждённой Оператором брони на аренду съемочного помещения в Локации только через Оператора.
          p Пользователь обязуется производить любые изменения подтверждённой Оператором брони на аренду съемочного помещения в Локации только через Оператора.
          p 2.4.3. В случае необходимости отменить Заказ возможно одним из следующих способов:<br>- Пользователь самостоятельно отменяет Заказ в личном кабинете;<br>- Пользователь напрямую связывается с Поставщиком услуг и уведомляет его об отмене Заказа;<br>- Пользователь связывается с Оператором и уведомляет его об отмене Заказа, путем использования формы обратной связи на Сайте.
          p 2.4.4. Заказ считается отмененным после присвоения ему Оператором статуса «Аннулирован» и направления соответствующего сервисного письма Пользователю.
          p 2.4.5. Сроки изменения и отмены Заказа, а также размер штрафных санкций за несоблюдение этих сроков и в случае неполного использования забронированных услуг, предоставляются Пользователю при бронировании и отображаются в Заказе в Личном кабинете Пользователя.
          p 2.4.6. Возврат денежных средств Пользователю осуществляется в размере, установленном соответствующим Поставщиком услуг с учетом правил тарифа соответствующего заказа. В случае отказа Пользователя от услуг полностью или частично в день аренды Локации и позднее, включая частичное использование заказа (использование одного или нескольких часов аренды и прекращение работы до заявленного в заказе времени) возврат (полностью или частичный) денежных средств за неиспользованный срок аренды не может быть гарантирован Оператором и требует индивидуального согласования с Поставщиком услуг.
          p 2.4.7. В исключительных случаях, по единоличному решению Оператора, в целях пресечения недобросовестных действий по использованию ресурса ugoloc.ru, а также совершения бронирований без намерения их использования, Оператор вправе удержать из денежных средств, возвращаемых Пользователю за отмену бронирования до 20% от суммы заказа в качестве компенсации фактически понесенных Оператором на обработку платежей и банковских комиссий расходов.
          p 2.4.8. Денежные средства подлежат возврату Пользователю по письменному заявлению Пользователя. Эта денежная сумма может быть возвращена Пользователю по реквизитам, указанным в соответствующем заявлении в порядке, предусмотренном в разделе «Как отменить заказ», являющемся неотъемлемой частью настоящего Договора. Срок возврата денежных средств зависит от факта подтверждения возврата со стороны Поставщика услуг, и составляет не более 7 рабочих дней с даты получения подтверждения от Поставщика услуг заявления о возврате.
          h3(id='guarantees') 3. Гарантии и ответственность сторон
          p 3.1. Гарантии и ответственность Оператора.<br>3.1.1. Оператор не несет перед Пользователем ответственности в случае полной или частичной неработоспособности системы и ее компонентов в течение какого-либо времени, а также при отсутствии возможности доступа Пользователя к системе или несения им любых косвенных или прямых затрат в связи с данными обстоятельствами. Все предложения, цены, а также условия продажи могут быть: изменены без уведомления Пользователя, ограничены по времени, наличию мест и срокам предварительного заказа, датам, срокам минимального или максимального бронирования в месте аренды, факторами выходных дней и праздников, сезонными колебаниями цен, а также забастовками и временной неработоспособностью систем бронирования и/или подвержены другим изменениям, условиям и ограничениям.
          p 3.1.2. Оператор не несет ответственность за негативные последствия и убытки, возникшие в результате событий и обстоятельств, находящихся вне сферы его компетенции, а также за действия (бездействие) третьих лиц, а именно<br>- в случае невозможности выполнения принятых на себя обязательств, вследствие недостоверности, недостаточности и несвоевременном предоставлении Пользователем сведений и документов, или нарушения Пользователем условий настоящего Договора или требований к документам;<br>- за отсутствие у Пользователя документов подтверждающих бронирование, выданных ему Оператором;<br>- за неявку или опоздание Пользователя в Локацию;<br>- за несоблюдение Пользователем установленных Поставщиком услуг правил поведения;<br>- за несоблюдение Пользователем установленных Поставщиком услуг правил поведения;
          p - за несоблюдение Пользователем установленных Поставщиком услуг правил поведения;<br>- с требованиями к оформлению и наличию документов, требуемых для бронирования времени в Локаций, и принимает на себя всю ответственность за подготовку необходимых документов;<br>- с условиями применения тарифов Поставщиков услуг, в том числе с условиями отмены брони;<br>- с правилами Поставщика услуг, предоставляющего выбранную Локацию;<br>- с условиями Договора публичной оферты;<br>- с требованиями законодательства РФ.
          p 3.3. Стороны освобождаются от ответственности за ненадлежащее исполнение или неисполнение обязательств по настоящему Договору в случае наступления обстоятельств непреодолимой силы, к таковым стороны относят следующие обстоятельства: пожар, эпидемия, землетрясение, террористический акт, наводнение, ураган, шторм, цунами, оползень, другие стихийные бедствия и катаклизмы, военные действия любого характера, забастовки, введение чрезвычайного или военного положения, эмбарго, изменения законодательства РФ, издание органами власти нормативных актов, повлекших невозможность надлежащего исполнения Сторонами своих обязательств и прочие обстоятельства, на которые стороны не могут повлиять и предотвратить.
          p 3.4. О наступлении (и прекращении) указанных в пункте 3.3. настоящего Договора обстоятельств, Сторона, для которой возникла невозможность исполнения обязательств по настоящему Договору, обязана немедленно известить другую Сторону. Неуведомление или несвоевременное уведомление об указанных обстоятельствах лишает Стороны права ссылаться на эти обстоятельства и не освобождает от ответственности по настоящему Договору. Срок исполнения обязательств Сторонами по настоящему Договору отодвигается соразмерно времени, в течение которого будут действовать такие обстоятельства. Если обстоятельства будут продолжаться более 14 (четырнадцати) дней, каждая из Сторон будет иметь право отказаться от исполнения обязательств по настоящему договору. Наличие указанных обстоятельств подтверждается соответствующими решениями федеральных органов государственной власти, органов государственной власти субъектов РФ, органов местного самоуправления, принимаемыми ими в соответствии с федеральными законами.
          p 3.5. При наступлении указанных обстоятельств Стороны вправе в судебном порядке потребовать расторжения договора.
          h3(id='contract_time') 4. Срок действия и изменение условий договора-оферты.
          p 4.1. Условия Оферты действуют с даты указанной в графе «Дата вступления в силу» и действует до момента отзыва Оператором оферты.
          p 4.2. Оператор оставляет за собой право в любое время и по своему усмотрению вносить изменения и дополнения в настоящий Договор, в связи с чем, Пользователь обязуется регулярно отслеживать изменения в Договоре, размещенном в разделе «Пользовательское соглашение». В случае внесения изменений в Договор-оферту, такие изменения вступают в силу с даты размещения измененного текста на сайте.
          p 4.3. В случае если Пользоатель не согласен с внесенными изменениями он вправе расторгнуть Договор в порядке, предусмотренном в статье 5 настоящего Договора.
          h3(id='termination_of_an_agreement') 5. Расторжение договора.
          p 5.1. Договор может быть расторгнут:<br>5.1.1. В любое время по соглашению Сторон;
          p 5.1.2. Оператором незамедлительно путем направления письменного уведомления (в том числе по электронной почте) Пользователю, в случае нарушения Пользователем условий настоящего Договора;
          p 5.1.3. Любой из Сторон после направления другой Стороне письменного уведомления (в том числе по электронной почте) за 5 (пять) рабочих дней до предполагаемой даты расторжения.
          p 5.2. Обязательства Сторон по Договору, которые в силу своего характера должны сохранять действие (включая обязательства, касающиеся конфиденциальности, порядка оплаты, использования информации, защиты персональных данных, но, не ограничиваясь вышеизложенным) сохраняют свою юридическую силу после расторжения Договора.
          p 5.3. Расторжение Договора по любому основанию не освобождает Стороны от ответственности за нарушение условий Договора, возникшие в течение срока его действия.
          h3(id='intellectual_property') 6. Интеллектуальная собственность
          p 6.1. Вся текстовая информация и графические изображения, находящиеся на Сайте, являются собственностью Администрации сайта и/или его контрагентов.
          p 6.2. Перепечатка, воспроизведение в любой форме, распространение, в том числе в переводе, любых материалов с Сайта возможны только с письменного разрешения Администрации сайта.
          p 6.3. При использовании документов и связанных с ними графических изображений, расположенных на Сайте необходимо соблюдать следующие требования:<br>- Указывать, что авторские права принадлежат Администрации сайта.<br>- При перепечатке материалов ссылаться на Сайт, как на источник публикации, и указать иные источники информации, упомянутые в материале. Если материалы размещаются в Интернете, то необходимо сделать ссылку на Сайт.
          p 6.4. Документы и связанные с ними графические изображения, расположенные на Сайте, могут быть использованы только в информационных, некоммерческих или личных целях.
          p 6.5. Никакие документы и связанные с ними графические изображения, расположенные на Сайте, не должны изменяться никаким способом.
          p 6.6. Никакие графические изображения, расположенные на Сайте, не должны использоваться отдельно от сопровождающего их текста.
          p 6.7. Документы и связанные с ними графические изображения, расположенные на Сайте, могут включать неточности или орфографические ошибки. Изменение информации на Сайте производится периодически.
          h3(id='privacy') 7. Конфиденциальность и защита персональных данных
          p 7.1. Зарегистрировавшись на сайте и/или отметив пункт "Я даю согласие на использование моих персональных данных", Пользователь разрешает использование своих персональных данных Администрации Сайта c целью улучшения качества услуг, информирования Пользователя о заказах, для извещения Пользователя о новостях, для возможности участия в конкурсных программах и иных сервисах, предусмотренных для посетителей Сайта, о мероприятиях, проводимых компанией и партнерами, а также для достижения целей, предусмотренных другими пунктами пользовательского соглашения и договора-оферты.
          p 7.2. Предоставляя свои персональные данные при регистрации на сайте, Пользователь соглашается на хранение, обработку своих персональных данных любым законно разрешенным способом, в объеме необходимом для выполнения условий настоящего Договора-оферты.<br>При регистрации на сайте Пользователь дает свое согласие на получение от Оператора рассылок рекламно-информационного характера.
          p 7.2.1. Если Пользователь не желает, чтобы его персональные данные обрабатывались, то он должен обратиться в Службу по работе с клиентами через форму Обратной связи на Сайте. В таком случае вся полученная от Пользователя информация (в тот числе логин и пароль) удаляется из пользовательской базы Администрации сайта и Пользователь не сможет размещать Заказы на Сайте.
          p 7.3. Разглашение информации, полученной Оператором:
          p 7.3.1. Оператор обязуется не разглашать полученную от Пользователя информацию. Не считается нарушением предоставление информации агентам и третьим лицам, действующим на основании договора с Оператором для исполнения обязательств перед Пользователем.
          p 7.3.2. Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми требованиями закона.
          p 7.4. Оператор получает информацию об ip-адресе посетителя Сайта. Данная информация не используется для установления личности посетителя.
          p 7.5. Оператор не несет ответственности за сведения, предоставленные Пользователем на Сайте в общедоступной форме.
          h3(id='other_conditions') 8. Прочие условия
          p 8.1. К отношениям между Пользователем и Оператором применяется законодательство Российской Федерации.
          p 8.2. В случае возникновения у Пользователя вопросов он должен обратиться в Службу по работе с клиентами Оператора через форму Обратной связи на Сайте. В том случае, если у Пользователя имеются претензии непосредственно к качеству работы Оператора, Пользователь подает письменную претензию в срок не более 20 (Двадцати) дней с момента возникновения причины спора. В течение 10 (Десяти) дней Оператор рассматривает претензию и направляет Пользователю обоснованный ответ. Все возникающее споры Стороны будут стараться решить путем переговоров, при недостижении соглашения спор будет передан на рассмотрение в судебный орган по месту нахождения Оператора.
          p 8.3. Признание судом недействительности какого-либо положения настоящего Договора не влечет за собой недействительность остальных положений.
          p
            b Реквизиты Оператора:<br>
            |  ООО «Менеджер локаций»<br>Юридический адрес: 107045, город Москва, Большой Головин пер., дом 2<br>Фактический адрес: 107045, город Москва, Большой Головин пер., дом 2<br>ИНН 7702389359 /КПП 770201001<br>Р/с 40702810438000052928<br>в ПАО Сбербанк<br>БИК 044525225<br>К/с 30101810400000000225<br>Генеральный директор<br>А.О.Шавельев<br>
