include ../../wysiwyg/wysiwyg.pug
include ../../imageCaption/imageCaption.pug
include ../../social/social.pug
include ../control/news-control.pug

mixin news-detail(dataNews)
  .news-detail
    .news-detail__content-box
      .news-detail__heading #{dataNews.heading}
    .news-detail__container
      +imageCaption(dataNews.params)(class='news-detail__img')
    .news-detail__content-box
      +wysiwyg()
        p Новая фотостудия и творческое пространство, которое создала команда фотографов, дизайнеров, декораторов и архитекторов, чья мечта об идеальном творческом пространстве воплотилась в реальность в бывших цехах Электрозавода. Prostranstvo — 320 кв. метров съемочных локаций, разделенных на три зала. Основная концепция - это студии-конструктор с интересными и уникальными декорациями, которые будут иметь возможность модифицироваться, чтобы клиенты могли создавать свое уникальное пространство, исходя из своих задач.
        h3 Характиристики
        ul
          li Общая площадь 370 м²
          li Высота потолков 5 м
          li 3 зала. Сейчас работают 2.
          li Большие окна в каждом зале
          li Оборудование Profoto
          li Параболический софтбокс D 190 см
          li Большая белая циклорама
          li Душевая кабина и санузел
        h3 Как найти фотостудию?
        p Москва, ул.Электрозаводская д.21 корпус 1, проходная №3 «Мраморная», 6 этаж, налево по коридору помещение №624.<img width='280', heigh='180' src='https://i.ibb.co/TMDZsjF/12e819cc954af11399d687162c1dab40.jpg' title='Ростовой куб и белая тура' alt='Ростовой куб и белая тура' align='right'/> Выйти из метро налево, спуститься по переходу на противоположную сторону дороги и снова повернуть налево. Двигаться по улице Большая Семеновская до моста, перед мостом повернуть направо на улицу Электрозаводская. Далее вдоль нового здания Электрозавода, мимо проходных №1 и №2 примерно 200 метров. Слева увидите вывеску Проходная №3 “Мраморная”.
        br
        img(src='https://i.ibb.co/RBHrdtT/news-detail-2.jpg', width='580', heigh='360', title='Диванчик с подушками и фикус.', alt='Диванчик с подушками и фикус.')
        br
        br
        h3 Белый Зал от 1000₽ в час
        p Белый Зал — 170 м²  абсолютно белого пространства: белый пол, белые потолки, белые стены и белая циклорама с двумя огромные окнами естественного света. Белый Зал наполнен уникальными декорациями, которые мобильны и могут передвигаться по залу.
        p 
          i Одна из стен Белого Зала состоит из стеклянных блоков, которые могут быть закрыты белыми длинными шторами в пол или использоваться самостоятельно.
        p
          b Внимание! Для прохода через проходную Электрозавода необходимо иметь при себе паспорт или водительское удостоверение.
    .news-detail__content-box
      .news-detail__article-menu
        +social(dataNews.networks)
        +news-control(dataNews.control)(class='news-control--news-detail-page')
