$parent: location-pavilions;

@include block($parent) {
  position: relative;
  width: 100%;
  height: 100%;

  @include modifier($parent, 'location-hall') {
    @include element($parent, 'label-wrapper') {
      display: none;
    }
  }

  @include element ($parent, 'title') {
    font-weight: 600;
    font-size: rem(18);
    line-height: rem(22);
    color: $dark;
    margin-bottom: rem(16);

    @media (min-width: $md) {
      font-size: rem(21);
      line-height: rem(25);
    }
  }

  @include element ($parent, 'container') {
    overflow: hidden;
    margin-right: rem(-10);

    @media (min-width: $md) {
      margin-right: 0;
    }
  }

  @include element ($parent, 'wrapper') {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    @media (min-width: $md) {
      flex-wrap: wrap;
    }
  }

  @include element ($parent, 'pavilion') {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;
    width: rem(260);

    @media (min-width: $md) {
      width: rem(230);
      margin-bottom: rem(20);
      margin-right: rem(18);

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @media (min-width: $lg) {
      width: 31%;
    }

    @include modifier ($parent, 'many') {
      @media (min-width: $lg) {
        width: 22%;
        margin-right: rem(16);

        &:nth-child(4n) {
          margin-right: 0;
        }
      }

      @media (min-width: $xl) {
        width: 23.2%;
      }

      @include element ($parent, 'slider-box') {
        @media (min-width: $lg) {
          height: rem(120);
        }
      }

      @include element ($parent, 'equipments') {
        display: none;
      }
    }
  }

  @include element ($parent, 'overlook') {
    position: absolute;
    top: rem(5);
    right: rem(5);
    font-size: rem(14);
    line-height: rem(18);
    color: $dark;
    background-color: transparentize($white, 0.1);
    z-index: 1;
    padding: rem(3) rem(5);
  }

  @include element ($parent, 'slider-box') {
    position: relative;
    width: 100%;
    height: rem(220);
    z-index: -1;
    margin-bottom: rem(7);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
    }

    @media (min-width: $md) {
      height: rem(120);
      z-index: 0;
    }

    @media (min-width: $lg) {
      height: rem(220);
    }
  }

  @include element ($parent, 'slider-wrapper') {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  }

  @include element ($parent, 'slider-item') {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;

    img {
      object-fit: cover;
    }
  }

  @include element ($parent, 'slider-button') {
    position: absolute;
    width: rem(32);
    height: rem(32);
    left: rem(10);
    top: rem(175);
    background-color: $white;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 18px;
      fill: $black;
    }

    @media (min-width: $md) {
      display: none;
    }
  }

  @include element ($parent, 'slider-pagination') {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $md) {
      display: block;
      top: rem(100);
    }
  }

  @include element ($parent, 'facility') {
    font-weight: 700;
    font-size: rem(16);
    line-height: rem(24);
  }

  @include element ($parent, 'footage') {
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(18);
    color: $gray_0;
  }

  @include element ($parent, 'price') {
    font-weight: 500;
    font-size: rem(16);
    line-height: 1.2rem;
    color: $dark;
  }

  @include element ($parent, 'equipments') {
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(18);
    color: $gray_0;

    @media (min-width: $md) {
      display: none;
    }

    @media (min-width: $lg) {
      display: block;
    }
  }

  @include element ($parent, 'info') {
    display: flex;
    justify-content: space-between;
  }

  @include element ($parent, 'input') {
    display: none;

    &:checked + .#{$parent}__label .#{$parent}__label-wrapper {
      border-color: $white;
      background-color: $marsh;
    }
  }

  @include element ($parent, 'label-wrapper') {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: rem(34);
    height: rem(34);
    top: rem(9);
    left: rem(9);
    border-radius: 50%;
    border: 2px solid $marsh;
    transition: background-color 0.25s linear;
    background-color: $white;
    z-index: 1;
    cursor: pointer;

    svg {
      width: rem(28);
      height: rem(22);
      fill: $white;
    }

    &:hover {
      background-color: $gray-laght-btn-cancel;
    }
  }
}
