include ../form/input/form-input.pug
include ../form/image-button/form-image-button.pug
include ../form/button/form-button.pug

mixin restore-password(data)
  .restore-password
    .restore-password__title Восстановление пароля
    if (data.description)
      .restore-password__description !{data.description}
    if (data.inputs)
      form.restore-password__form(action='/')
        each input in data.inputs
          .restore-password__authorization-wrapper
            +form-input({
              error: input.error,
              label: input.label,
              type: input.type,
              checkOk: input.checkOk,
              attributes: input.inputAtr
            })(class=input.inputClass)
        .restore-password__button-login-wrapper
          +form-button({
            text: 'Восстановить',
            attributes: data.buttonAtr
          })(class=data.buttonClass)
