mixin form-select()
  .form-select
    select(id='bookingSelect', name='bookingSelect')
      option(value='Зал №12', selected) Зал №12
      option(value='Зал №13') Зал №13
      option(value='Зал №14') Зал №14
      option(value='Зал №15') Зал №15
      option(value='Зал №16') Зал №16
