@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrathairline.woff2') format('woff2'), url('/fonts/montserrathairline.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserratlight.woff') format('woff'), url('/fonts/montserratlight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat.woff') format('woff'), url('/fonts/montserrat.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserratbold.woff') format('woff'), url('/fonts/montserratbold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserratblack.woff') format('woff'), url('/fonts/montserratblack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
