$big: 1440px;
$xl-max: 1281px;
$xl: 1280px;
$lg: 1024px;
$lg-min: 1023px;
$tablet: 992px;
$md: 768px;
$md-min: 767px;
$xs: 480px;
$mini-xs: 375px;

$dark: #4a4a4a;
$black: #000;
$white: #fff;
$white-2: #eee;
$gray: #b5b5b5;
$gray_9b: #9b9b9b;
$gray_f8: #f8f8f8;
$gray_c2: #c2c2c2;
$gray_ec: #ececec;
$gray_d0: #d0d0d0;
$gray_0: #848484;
$gray-light: #e4e4e4;
$gray-light-2:#f0f0f0;
$gray_f2:#f2f2f2;
$gray-light-border: #d9d9d9;
$gray-laght-btn-cancel: #f0f0f0;
$marsh: #81aeb6;
$marshDarker: #739ca3;
$facebook: #3b5998;
$red: #ff354e;
$red-error: #dc6868;
$red-error-border: #f18080;
$image-caption: #9b9b9b;
$vk-icon: #45668e;
$green: #81aeb6;
$green-40: #40b56d;
$purple: #974eb7;
$purpleLight: #8791c3;

$montserrat: 'Montserrat', sans-serif;
