$parent: location-rate;

@include block ($parent) {
  display: flex;
  align-items: center;

  @include element ($parent, 'rate-stars') {
    display: flex;
    align-items: center;
    cursor: pointer;

    & > .jq-star svg {
      width: rem(26);
      height: rem(40);
    }
  }

  @include element ($parent, 'rating-num') {
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(24);
    margin-left: rem(18);
    color: $dark;

    @media (min-width: $md) {
      font-size: rem(16);
      line-height: rem(21);
      margin-left: rem(19);
    }
  }
}
